<div class="cart-container col-12 d-flex flex-column justify-content-between">
    <div class="check-container">
        <div class="d-flex flex-row row">
            <h6 class="col-10">Split Check</h6>
            <label class="toggle-switch col-2">
                <input type="checkbox">
                <i></i>
              </label>
        </div>
        <h5>Check</h5>
        <div class="items-list">
            <div class="items-total d-flex justify-content-between row">
                <h6 class="col-10">Drinks</h6>
                <h6 class="col-2">{{ getTotalPrice() }}</h6>
            </div>
            <div *ngFor="let item of shoppingList"
             class="d-flex justify-content-between row">
                <h6 class="col-6"> {{item.name}} </h6>
                <h6 class="col-4"> ${{item.price}} x {{item.count}} </h6>
                <h6 class="col-2"> ${{ getUnitPrice(item.price,item.count)}} </h6>
            </div>
        </div>
        <hr class="col-12">
        <div class="items-list">
            <div class="items-total d-flex justify-content-between row">
                <h6 class="col-10">Food</h6>
                <h6 class="col-2"></h6>
            </div>
            <div class="d-flex justify-content-between row">
                <h6 class="col-6"> </h6>
                <h6 class="col-4"> </h6>
                <h6 class="col-2"> </h6>
            </div>
        </div>
        <hr class="col-12">
        <div class="items-list">
            <div class="items-total d-flex justify-content-between row">
                <h6 class="col-10">Desserts</h6>
                <h6 class="col-2"> </h6>
            </div>
            <div class="d-flex justify-content-between row">
                <h6 class="col-6">  </h6>
                <h6 class="col-4">  </h6>
                <h6 class="col-2">  </h6>
            </div>
        </div>
        <hr class="col-12">
        
    </div>
 
    <div class="payment-container ">
        <div class="d-flex justify-content-between row">
            <h6 class="col-10">Subtotal</h6>
            <h6 class="col-2">${{totalPrice}}</h6>
        </div>
        <div class="d-flex justify-content-between row">
            <h6 class="col-10">Estimated Taxes</h6>
            <h6 class="col-2">${{taxAmount}}</h6>
        </div>
        <div class="d-flex justify-content-between row">
            <h6 class="col-10">Discount</h6>
            <h6 class="col-2">0</h6>
        </div>

        <button class="btn pay-btn">PAY ${{finalAmount}}</button>
    </div>
</div>
