<div class="shopping-cart">
    <app-header></app-header>
    <div class="shopping-container row col-12">
        <div class="col-lg-8 col-12">
            <app-catalogue></app-catalogue>
        </div>
        <div class="col-lg-4 col-12">
            <app-cart></app-cart>
        </div>
    </div>
</div>
