<div class="sidebar">
  <img class="logo" src="../../../assets/icons/main-logo.png" alt="" />
  <div class="nav-icons">
    <a href="#">
      <img class="logo " src="../../../assets/icons/calender-logo.jpg" alt="" />
    </a>
    <a routerLink="/home/shopping-cart">
      <img class="logo " src="../../../assets/icons/fork-logo.jpg" alt="" />
    </a>
    <a href="#">
      <img class="logo " src="../../../assets/icons/contact-logo.png" alt="" />
    </a>
  </div>
  <img class="logo " src="../../../assets/icons/settings-logo.png" alt="">
</div>
