<div class="title">
    <div class="float-right">
        <img class="logo logo-top" src="../../../assets/icons/search-logo.png" alt="">
    </div>
    <h2>The Great Table</h2>
    <select >
        <option >Today</option>
    </select>
</div>
