.main-menu {
    border: 1px solid black;
}

.menu-item {
    font-size: 1rem;
    padding: 1%;
    text-align: center;
    transition: 0.5s ease;
    &:hover {
        background-color: black;
        color: white;
    }
    
}
.checked {
        background-color: black;
        color: white;
    }

.dropdown-list {
    margin-top: 2%;
    select {
        width: 100%;
        padding: 1%;
        font-size: 1 rem;
        font-weight: bold;
    }
}

.items-container {
    margin: 5% 0;
    .card-item {
        opacity: 50%;
        border: 0;
        transition: .7s ease;
        &:hover{
            opacity: 100%;
            .card-img{
                box-shadow: 4px 4px 20px -8px rgba(0,0,0,0.75);
            }
        }
    }
    .card-img {
        margin-top: 1%;
    }
}

.btn-container {
    color: gray;
    button {
        padding: 0.5rem 1rem;
        margin: 1%;
        border: 1px solid black;
        border-radius: 0;
    }
}
