<h5>Table 5 - Mrs. Einstein</h5>
<div class="d-flex main-menu">
    <div class="flex-fill menu-item checked">Drinks</div>
    <div class="flex-fill menu-item">Food</div>
    <div class="flex-fill menu-item">Dessert</div>
</div>

<div class="dropdown-list">
    <ng-select [items]="selectionList"
               bindLabel="name"
               placeholder="Select item"
               [(ngModel)]="selected"
               (change)="getItemsData()"
               >
    </ng-select>
</div>

<div class="row row-cols-1 row-cols-md-2 items-container drinks-grid">
    <div *ngFor="let card of cardData"
    class="card mb-3 card-item" >
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{ card.strDrinkThumb }}" class="card-img" alt="..." loading="lazy">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ card.strDrink }}</h5>
              <p class="card-text">${{ card.price }}</p>
              <div class="d-flex btn-container">
                <button class="btn" (click)="removeFromShoppingList(card.idDrink,card.strDrink,card.price)">-</button>
                <button class="btn" id="{{ card.idDrink }}" value="0">0</button>
                <button class="btn" (click)="addToShoppingList(card.idDrink,card.strDrink,card.price)">+</button>
            </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
