<h2 class="title">Login</h2>
<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" >
        <div class="mb-3">
          <label  class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="email">
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" >
          <label class="form-check-label" >Keep Me Signed In</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>
        <div class="form-group additional-links">
          <a routerLink="/register">Register</a>
        </div>
      </form>
    </div>