/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~@ng-select/ng-select/themes/default.theme.css";

$primary-color: #fff;

body {
  background-color: $primary-color;
  min-width: 512px;
}

.main-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.form-container {
  width: 50%;
  margin: 0 auto;
}

.sidebar {
  width: 3.5rem;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary-color;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.5);
  
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
}

.logo-top {
  margin-right: 1rem;
  padding: 0.5rem;
}

.drinks-grid {
  height: 55vh;
  overflow: auto;
}
